@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&family=Bree+Serif&family=Ubuntu&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: #00B295;
    text-decoration: none;
    padding: 35px;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    margin-top: -50px;
    
}
#hero-box {
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: -1;
    
}
#hero-img {
    width: 100%;
    grid-column: 2/3;
    margin-top: 50px;
    height: 650px;
    margin-bottom: -10px;
    
}
#hero-msg {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-top: 100px;
    z-index: 3;
    
    box-sizing: border-box;
    
}
#hero-msg h1 {
    text-align: center;
    color: #03F7EB;
    margin-top: 30px ;
    font-size: 5em;
    font-family: "Averia serif libre";

}
#hero-msg h4 {
    text-align: center;
    color: #03F7EB;
    font-size: 2.8em;
}
#hero-text {
    z-index: 2;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 240px;
    font-family: "Ubuntu";
    

}
#text-title {
    font-size: 2.3em;
    margin-left: 8px;
}

#paragraph {
    font-size: 1.3em;
    margin-left: 8px;
    
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #D4DCFF;
    font-family:  "Averia serif libre";
    height: 200px;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
a {
    text-decoration: none;
    margin: 5px;
}
nav a:hover {
    background-color: #00aeff;
    color: #AB2346;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.log{
    width :190px;
}
h2.tech-text {
    font-family: "Averia serif libre";
    font-size: 3em;
    color:#00B295;
    background-color:#D4DCFF ;
    padding: 80px;
    text-align: center;
    margin: 0;
}

.list-items-techs {
    font-family: "Ubuntu";
    font-size: 2.5em;
    z-index: 1;
    color: #03F7EB;
    position: relative;
    
}
.main-grid {
    display: grid;
}

#main-img {
    width: 100%;
    margin-top: -320px;
    z-index: -2;
    margin-bottom: -10px;
}
.footer-grid {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    gap: 1vw;
    align-items: center;
    background-color: #03F7EB;
    font-family: "Ubuntu";
}

.text-1 {
    font-size: 1.5em;
}
.linke-img {
    width: 130px;
    height: fit-content;
    justify-self: end;  

}
.linke-img img {
    width: 130px;
    height: 128px;
    border-radius: 14px; 
}
.git-img {
    width: 130px;
    height: 128px;
    justify-self: center;
}
.button {
    width: 250px;
    border: 2px solid black;
    background-color: #D4DCFF;
    border-radius: 10px;
   
}
.site-plan-button {
    display: block;
    margin-left: 48px;
    font-size: 1.5em;
    padding:.6rem ;
}
/* Media Query for screens less than 900px wide */
@media (max-width: 900px) {
    #hero {
        grid-template-columns: 1fr;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .logo {
        grid-column: initial;
        grid-row: initial;
        width: auto;
        margin-top: 0;
        height: auto;
        z-index: 2;
    }

    #hero-box,
    #hero-img {
        grid-column: initial;
        grid-row: initial;
        width: auto;
        margin-top: 0;
        height: auto;
    }

    #hero-msg {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    #hero-msg h1 {
        font-size: 3.5em;
    }

    #hero-msg h4 {
        font-size: 2em;
    }

    #hero-text {
        margin-top: 100px;
    }

    header {
        grid-template-columns: auto;
        justify-content: center;
    }

    #logo-link {
        justify-self: initial;
        align-self: initial;
    }

    .log {
        width: auto;
    }

    h2.tech-text {
        font-size: 2.5em;
        padding: 40px;
    }

    .list-items-techs {
        font-size: 2em;
    }

    .footer-grid {
        grid-template-columns: 1fr;
        gap: 2vw;
        justify-items: center;
        padding: 20px;
        
    }

    .linke-img {
        justify-self: initial;
    }

    .button {
        width: 200px;
    }

    .site-plan-button {
        margin-left: 0;
        margin-top: 20px;
    }
}