.container {
    background-color: #ff99c8;
    max-width: 730px;
    height: 765px;
    text-align: center;
    padding: 18px;
}

img {
    width: 140px;
    height: auto;
}

h1 {
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: 'Arial', Times, serif;
}
.box {
    color: aliceblue;
    text-align: center;
    font-size: 0.6em;
    font-family: 'Times new roman', Times, serif;
    
}
.list {
    color: black;
    text-align: start;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    padding-left: 230px;
}
#phrase {
    color: white;
    text-align: center;
    font-size: 1.7em;
}

.end {
    color: black;
    text-align: center;
    font-size: 0.7em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.hov h1:hover {
    color: black;
    
    
}